#content {
    background-color: #07a6b7;
    width: 150px;
    height: 150px;
    top: 150px;
    left: 150px;
    position: absolute;
    overflow: hidden;
    /*outline: dashed;*/
    border-bottom: solid;
}

#input-div {
    top: 150px;
    left: 350px;
    position: absolute;
}

#username {
    outline: none;
    border: none;
    border-bottom: solid;
}

#div1, #div2, #div3 {
    width: 200px;
    height: 200px;
}

#div1 {
    background-color: yellow;

    /* 脱离标准文档流 脱标流 浮动 */
    float: left;
}

#div2 {
    background-color: #626262;
    float: left;
}

#div3 {
    background-color: #6abeea;
    float: left;
}

#div4 {
    margin-left: 800px;
    border: 1px solid black;
    background-color: red;
    /*height: 300px;*/
    /*width: 450px;*/
}

#div5 {
    background-color: yellow;
    height: 230px;
    width: 450px;
}